%table
  %tr
    %td
      = form.label :username
    %td
      = form.text_field :username, { :autofocus => true}
  %tr
    %td
      = form.label :email
    %td
      = form.text_field :email
  %tr
    %td
      = form.label :password
    %td
      = form.password_field :password
  %tr
    %td
      = form.label :password_confirmation
    %td
      = form.password_field :password_confirmation
