%header.page-top
  Welcome to the Ruby Photograph Gallery

- if flash[:notice]
  %status.flash-message
    = flash[:notice] 
  %br  
%br
%br

%table.thumbs
  %tr
    %td
      = image_tag( 'rails.png')
    %td
      = image_tag( 'rails.png')
    %td
      = image_tag( 'rails.png')
    %td
      = image_tag( 'rails.png')
    %td
      = image_tag( 'rails.png')
    %td
      = image_tag( 'rails.png')

%br
