!!! 5
%html
  %head
    %title
      Ruby Photo Gallery
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #outer-block
  
      #login-block
        = render :partial => 'shared/login'

      %header.gallery-top
        Ruby Photograph Gallery

      #navigation-block
        = render :partial => 'shared/navigation'

      #flash-message-block
        = render :partial => 'shared/flash_message'

      #main-content-block
        = yield
      
      #footer-outer-block
      
        #footer-inner-block
          &copy; 
          = Time.now.year
          Released by the Ruby Photo Gallery Gang under the MIT License
      
    #end-block
    
        