<!DOCTYPE html>
<html>
<head>
  <title>RubyPhotogallery</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br />

<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Login", new_user_session_path %>
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
  
<% end %>


</body>
</html>
