!!! 5
%html
  %head
    %title
      Ruby Photo Gallery
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #login-block
      - if !current_user
        = link_to_unless_current "Register", new_account_path
        |
        = link_to_unless_current "Login", new_user_session_path
      - else
        = current_user.username
        |
        = link_to_unless_current "Home", homes_path
        |
        = link_to_unless_current "My Info", account_path
        |
        = link_to "Log out", user_session_path, :method => :delete  

    %header.gallery-top
      Ruby Photograph Gallery

    %br
    %header.tabs-top
      %ul
        %li
          = link_to "Home", homes_path
        %li
          = link_to "Upload", homes_path
        %li
          = link_to "Admin", homes_path
    %br
    = yield

    %br

